body {
  background-image: linear-gradient(90deg, rgb(129, 177, 255), rgb(62, 0, 178));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
    width: 3em;
}

#effectivity {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#time {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

#newTodoForm {
  display: flex;
  flex-direction: column;
}